@charset "UTF-8";
article {
  background: url(../images/work/line.png) left top repeat-y; }

.wrap {
  width: 1160px;
  margin: 0 auto;
  font-family: 'Roboto', "微軟正黑體",sans-serif; }

a.btn {
  margin-top: 40px;
  display: inline-block;
  padding: 15px 40px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px; }

span.num {
  position: absolute;
  left: -100px;
  font-family: 'Raleway', sans-serif;
  display: inline-block; }
  span.num:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 55%;
    background: #fff; }
  span.num b {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    line-height: 70px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 40px; }
  span.num em {
    display: block; }
    span.num em strong {
      position: absolute;
      left: -10px;
      top: 40px;
      font-size: 15px;
      letter-spacing: 1px;
      font-weight: normal;
      transform: rotate(-90deg); }

.intro {
  background: url(../images/work/chamcham/bg.jpg) top center no-repeat;
  background-size: cover;
  padding: 70px 0 0 0;
  color: #fff; }
  .intro p.title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 70px; }
  .intro h2 {
    margin-bottom: 80px; }
    .intro h2 strong {
      font-size: 84px;
      font-weight: bold;
      line-height: 1; }
  .intro .infoBox span {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px; }
  .intro .infoBox .left {
    padding: 0; }
    .intro .infoBox .left span {
      padding-left: 60px; }
      .intro .infoBox .left span:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 45px;
        height: 2px;
        background: #fff; }
    .intro .infoBox .left p {
      font-size: 15px;
      color: #dddddd;
      line-height: 1.8; }
    .intro .infoBox .left a.btn {
      margin-top: 40px;
      display: inline-block;
      padding: 15px 40px;
      color: #fff;
      font-weight: 500;
      letter-spacing: 2px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px; }
  .intro .infoBox .right {
    text-align: right;
    padding: 0; }
    .intro .infoBox .right span {
      padding-right: 74px;
      margin-bottom: 10px; }
      .intro .infoBox .right span:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 45px;
        height: 2px;
        background: #fff; }
    .intro .infoBox .right p {
      font-size: 42px;
      font-weight: 500; }
  .intro .website {
    margin-top: 110px; }
    .intro .website span.num {
      padding-bottom: 448px;
      bottom: 0; }
    .intro .website h3 {
      text-align: center;
      font-size: 15px;
      font-weight: normal;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 1px;
      padding-bottom: 30px;
      margin-bottom: 50px; }
      .intro .website h3:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 60px;
        height: 2px;
        background: #fff;
        margin-left: -30px; }
    .intro .website .Img {
      position: relative; }
      .intro .website .Img:before {
        content: url(../images/work/chamcham/towel.png);
        position: absolute;
        right: 85px;
        bottom: 100%;
        margin-bottom: -240px; }
      .intro .website .Img img {
        display: block;
        width: 100%; }

section.work {
  padding-bottom: 110px;
  background: url(../images/work/chamcham/bg02.jpg) top center no-repeat;
  background-size: cover; }
  section.work img {
    display: block;
    width: 100%; }

section.design .wrap {
  padding: 140px 0 130px 0; }

section.design .left {
  padding: 0 0 0 40px; }

section.design img {
  display: block;
  width: 100%;
  margin-bottom: 40px; }

section.design p.title {
  font-size: 22px;
  color: #111;
  font-weight: bold;
  margin-bottom: 35px; }

section.design h3 {
  font-size: 40px;
  color: #111;
  line-height: 1;
  margin-bottom: 40px; }

section.design p {
  font-size: 15px;
  color: #222; }

section.design .right {
  padding: 50px 55px 0 0; }
  section.design .right span {
    display: inline-block;
    font-size: 15px;
    color: #111;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 59px;
    margin-bottom: 15px; }
    section.design .right span:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 45px;
      height: 2px;
      background: #111; }
  section.design .right p {
    color: #111;
    line-height: 1.8; }
  section.design .right a {
    display: inline-block;
    color: #111;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px; }
    section.design .right a:hover {
      color: #f2a59f; }

section.design span.num {
  top: 0;
  padding-top: 228px; }
  section.design span.num:after {
    top: 0;
    bottom: auto;
    background: rgba(19, 19, 19, 0.5);
    height: 200px; }
  section.design span.num em {
    height: 130px;
    padding: 15px 0; }
    section.design span.num em strong {
      top: 55px;
      width: 130px;
      left: -29px; }
  section.design span.num b {
    margin-bottom: 0;
    border: 1px solid rgba(40, 40, 40, 0.5); }

section.style {
  background: url(../images/work/chamcham/work03.jpg) center center no-repeat;
  background-size: cover; }
  section.style span.num {
    top: 0;
    padding-top: 170px;
    color: #fff; }
    section.style span.num:after {
      top: 0;
      bottom: auto;
      background: rgba(255, 255, 255, 0.5);
      height: 150px; }
    section.style span.num em {
      height: 160px;
      padding: 15px 0; }
      section.style span.num em strong {
        top: 75px;
        width: 160px;
        left: -45px; }
    section.style span.num b {
      margin-bottom: 0;
      border: 1px solid rgba(255, 255, 255, 0.5); }
  section.style:after {
    content: "Abc";
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 400px;
    color: #5e6aaf;
    opacity: 0.5;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px; }
  section.style .wrap {
    z-index: 2;
    padding: 130px 0 142px 0; }
  section.style p.title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 70px; }
  section.style .left {
    padding: 0 0 0 40px; }
    section.style .left ul {
      margin: 0 -23px; }
      section.style .left ul li {
        display: inline-block;
        float:left;
        width: 167px;
        margin: 0 23px 38px 23px; }
        section.style .left ul li:after {
          content: "";
          position: absolute;
          left: 15px;
          right: 15px;
          top: 0;
          bottom: 0;
          border: 1px solid #fff; }
          section.style .left ul li.opacity:after{
            display: none;
          }
        section.style .left ul li .color {
          height: 166px; }
          section.style .left ul li .color.blue {
            background: #3c1bb7; }
          section.style .left ul li .color.gary {
            background: #24f6d6; }
          section.style .left ul li .color.red {
            background: #ff9ef5; }
        section.style .left ul li p {
          color: #fff;
          font-size: 16px;
          text-align: center;
          font-weight: bold;
          padding: 7px 0 12px 0; }
  section.style .right{
    padding: 0;
  }
  section.style .right ul {
    margin-top: -36px; }
    section.style .right ul li {
      height: 105px;
      line-height: 105px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0 15px; }
      section.style .right ul li:last-child {
        border: none; }
      section.style .right ul li span.small {
        color: #d8d8d8;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        display: inline-block;
        width: 177px;
        margin-right: 45px; }
      section.style .right ul li span.big {
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        color: #fff;
        font-weight: bold; }
        section.style .right ul li span.big.chinese {
          font-size: "微軟正黑體";
          font-size: 22px; }

section.rwd {
  overflow: hidden;
  padding: 150px 0 150px 0; }
  section.rwd h3 {
    font-family: 'Raleway', sans-serif; }
    section.rwd h3 strong {
      font-size: 95px;
      color: #1c1c1c;
      display: block;
      font-weight: 800; }
    section.rwd h3 em {
      font-size: 80px;
      font-weight: 600;
      display: inline-block;
      padding-right: 143px; }
      section.rwd h3 em:after {
        content: url(../images/work/responsive.png);
        position: absolute;
        right: 0;
        bottom: -20px; }
  section.rwd .leftBox {
    padding-left: 55px; }
    section.rwd .leftBox .left {
      padding: 0; }
    section.rwd .leftBox p {
      font-size: 15px;
      color: #111;
      line-height: 1.8;
      margin-top: 64px; }
    section.rwd .leftBox a.btn {
      color: #1c1c1c;
      border: 1px solid rgba(28, 28, 28, 0.5); }
      section.rwd .leftBox a.btn:hover {
        color: #fff;
        background: #f2a59f;
        border: 1px solid #f2a59f; }
  section.rwd .Img {
    padding-top: 114px; }
  section.rwd span.num {
    top: -150px;
    padding-top: 330px; }
    section.rwd span.num:after {
      top: 0;
      bottom: auto;
      background: rgba(19, 19, 19, 0.5);
      height: 280px; }
    section.rwd span.num em {
      height: 110px;
      padding: 10px 0; }
      section.rwd span.num em strong {
        top: 25px;
        width: 110px;
        left: -20px; }
    section.rwd span.num b {
      margin-bottom: 0;
      border: 1px solid rgba(40, 40, 40, 0.5); }

img.tablet {
  position: absolute;
  right: 0;
  bottom: 75px; }
@media (max-width: 1700px){
  .wrap{
    width: 100%;
    padding: 0 50px 0 120px;
  }
  section.design .wrap {
      padding: 140px 50px 130px 120px;
  }
  section.style .wrap {
    padding: 130px 50px 142px 120px;
}
  span.num{
    left: 20px;}
  .intro .website span.num{
    left: -100px;
  }
  
  img.tablet{
    right: -100px;
  }
  section.rwd .Img{
    margin-left: -100px;
  }
  .intro .website .Img:before {
      content: url(../images/work/chamcham/towel.png);
      position: absolute;
      right: 0px;
      bottom: 100%;
      margin-bottom: -400px;
  }
}
@media (max-width: 1700px) and (min-width:1180px){
  section.style .right ul li span.small{
    margin-right: 15px;
    width: 147px;
  }
}
@media (max-width: 1320px) and (min-width:1180px){
  section.style .left,
  section.rwd .leftBox{
    padding: 0;
  }
  section.style .left ul li{
    margin: 0 10px 38px 10px;
  }
  section.style .right ul li span.small{
    margin-right: 15px;
    width: 147px;
  }
  section.style .right ul li span.big{
    font-size: 25px;
  }
}
@media (max-width: 1460px) and (min-width:1180px){
  img.tablet{
    right: -300px;
  }
  section.rwd .leftBox .left{
    padding: 0;
  }
}
@media (max-width: 1180px){
  .wrap{
    padding: 0 20px;
  }
  section.design .wrap {
      padding: 140px 20px 130px 20px;
  }
  section.style .wrap {
    padding: 130px 20px 142px 20px;
}
  span.num{
    display: none;
  }
  section.design .right{
    padding: 50px 0 0 0;
  }
  section.design .left,
  section.style .left,
  section.rwd .leftBox{
    padding: 0;}
  img.tablet{
    right: -200px;
  }
  section.style .right ul li span.big{
    font-size: 40px;
  }
}
@media (max-width: 1024px){
  .intro .website .Img:before{
    display: none;
  }
  section.rwd .leftBox .left{
    padding: 0;}
  section.style .left ul li.opacity{
    display: none;
  }
  img.tablet{
    width: 65%;
    right: 0;
    bottom: 45px;
  }
  section.rwd .Img{
     margin-left: -20px;}
  section.rwd .Img img{
   
    width: 45%;
  }
  section.rwd .Img{
    padding-top: 200px;}
}
@media (max-width: 767px){
  .intro h2 strong{
    font-size: 54px;
  }
  .intro .infoBox .right{
    margin-top: 40px;
    text-align: left;
  }
  section.rwd h3 strong {
      font-size: 60px;
      }
    section.rwd h3 em {
      font-size: 40px;
      }

}
@media (max-width: 650px){
   section.style .left{
     margin: 0 0 40px 0;}
  section.style .left ul{
    margin: 0;
  }
  section.style .left ul li{
    width: 140px;
    margin: 0 10px 40px 10px;
  }
  section.style .left ul li .color{
    height: 140px;
  }
  section.style p.title{
    margin-bottom: 40px;
  }
  section.rwd h3 em{
    padding-right: 0;
  }
  section.rwd h3 em:after{
    display: none;
  }
  img.tablet{
    bottom: 45px;
  }
  section.rwd{
    padding: 80px 0;
  }
  section.rwd .Img {
    padding-top: 150px;
}
section.style:after{
  font-size: 150px;}

}
@media (max-width: 520px){
  .intro h2 strong,
  section.design h3{
    font-size: 37px;
  }
  section.design .wrap {
    padding: 80px 20px 80px 20px;
}
  section.style .right ul li span.small{
    margin-right: 15px;
    width: 147px;
  }
  section.style .right ul li span.big{
    font-size: 30px;
  }
  
}
@media (max-width: 400px){
  section.style .right ul li{
    line-height: 1.8;
    height: auto;
    padding: 20px 0;
  }
  section.style .right ul li span.big{
    display: block;
    margin: 10px 0 0 15px;}
    section.style .right ul li span.small{
      margin: 0;
      width: auto;
    }
    section.style .left ul li{
      width: 120px;
      margin: 0 10px 40px 10px;
    }
    section.style .left ul li .color{
      height: 120px;
    }
    section.rwd h3 strong{
      font-size: 50px;
    }
}
