@charset "UTF-8";
body {
  height: 100vh;
  overflow-y: hidden; }

header {
  box-shadow: none; }

.bannerArea ul li {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .bannerArea ul li img {
    display: none; }
  .bannerArea ul li .Txt {
    position: absolute;
    left: 105px;
    bottom: 125px;
    font-family: 'Roboto', "微軟正黑體",sans-serif;
    color: #fff; }
    .bannerArea ul li .Txt p {
      font-size: 30px;
      font-weight: normal; }
    .bannerArea ul li .Txt p.title {
      font-size: 200px;
      font-weight: bold; }
@media (max-width: 1370px){
  .bannerArea ul li .Txt p.title{
    font-size: 140px;
  }
  .bannerArea ul li .Txt{
    left: 85px;
    bottom: 100px;
  }
}
@media (max-width:687px){
  .bannerArea ul li .Txt{
    left: 20px;
    bottom: 200px;
  }
}
@media (max-width:480px){
  .bannerArea ul li .Txt p.title {
      font-size: 100px;
  }
  .bannerArea ul li .Txt p {
    font-size: 20px;}
}